In [1]:
import ehrapy as ep

Unable to contact PyPI to check for the latest ehrapy version. Do you have an internet
connection?

/home/zeth/miniconda3/envs/ehrapy/lib/python3.8/site-packages/medcat/cat.py:16: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
adatas = ep.dt.mimic_3_demo(encoded=False, mudata=False)

/home/zeth/PycharmProjects/ehrapy/ehrapy/api/io/_read.py:262: DtypeWarning: Columns (17,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  adata, single_adata_obs_only = read_csv(file, delimiter, index_col, col_obs_only, cache=cache)
/home/zeth/PycharmProjects/ehrapy/ehrapy/api/io/_read.py:262: DtypeWarning: Columns (8,10,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  adata, single_adata_obs_only = read_csv(file, delimiter, index_col, col_obs_only, cache=cache)

In [3]:
adatas

{'DRGCODES': AnnData object with n_obs × n_vars = 297 × 8
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'CAREGIVERS': AnnData object with n_obs × n_vars = 7567 × 4
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'INPUTEVENTS_CV': AnnData object with n_obs × n_vars = 34799 × 20
     obs: 'charttime', 'storetime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'D_ICD_PROCEDURES': AnnData object with n_obs × n_vars = 3882 × 4
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'CALLOUT': AnnData object with n_obs × n_vars = 77 × 18
     obs: 'createtime', 'updatetime', 'acknowledgetime', 'outcometime', 'firstreservationtime', 'currentreservationtime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'LABEVENTS': AnnData object with n_obs × n_vars = 76074 × 8
     obs: 'charttime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'PRESCRIPTIONS': AnnData object with n_obs × n_vars = 10398 × 17
     obs: 'startdate', 'enddate'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'DATETIMEEVENTS': AnnData object with n_obs × n_vars = 15551 × 11
     obs: 'charttime', 'storetime', 'value'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'INPUTEVENTS_MV': AnnData object with n_obs × n_vars = 13224 × 27
     obs: 'starttime', 'endtime', 'storetime', 'comments_date'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'CPTEVENTS': AnnData object with n_obs × n_vars = 1579 × 11
     obs: 'chartdate'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'D_LABITEMS': AnnData object with n_obs × n_vars = 753 × 6
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'DIAGNOSES_ICD': AnnData object with n_obs × n_vars = 1761 × 5
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'D_ITEMS': AnnData object with n_obs × n_vars = 12487 × 10
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'D_CPT': AnnData object with n_obs × n_vars = 134 × 9
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'PROCEDURES_ICD': AnnData object with n_obs × n_vars = 506 × 5
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'OUTPUTEVENTS': AnnData object with n_obs × n_vars = 11320 × 11
     obs: 'charttime', 'storetime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'CHARTEVENTS': AnnData object with n_obs × n_vars = 758355 × 13
     obs: 'charttime', 'storetime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'NOTEEVENTS': AnnData object with n_obs × n_vars = 0 × 0
     obs: 'row_id', 'subject_id', 'hadm_id', 'chartdate', 'charttime', 'storetime', 'category', 'description', 'cgid', 'iserror', 'text'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'ICUSTAYS': AnnData object with n_obs × n_vars = 136 × 10
     obs: 'intime', 'outtime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'MICROBIOLOGYEVENTS': AnnData object with n_obs × n_vars = 2003 × 14
     obs: 'chartdate', 'charttime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'D_ICD_DIAGNOSES': AnnData object with n_obs × n_vars = 14567 × 4
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'ADMISSIONS': AnnData object with n_obs × n_vars = 129 × 14
     obs: 'admittime', 'dischtime', 'deathtime', 'edregtime', 'edouttime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'PROCEDUREEVENTS_MV': AnnData object with n_obs × n_vars = 753 × 21
     obs: 'starttime', 'endtime', 'storetime', 'comments_date'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'PATIENTS': AnnData object with n_obs × n_vars = 100 × 4
     obs: 'dob', 'dod', 'dod_hosp', 'dod_ssn'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'TRANSFERS': AnnData object with n_obs × n_vars = 524 × 11
     obs: 'intime', 'outtime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original',
 'SERVICES': AnnData object with n_obs × n_vars = 163 × 5
     obs: 'transfertime'
     uns: 'numerical_columns', 'non_numerical_columns'
     layers: 'original'}

In [4]:
adatas["INPUTEVENTS_CV"].obs

                 charttime            storetime
0      2171-11-03 15:00:00  2171-11-03 16:27:00
1      2171-11-03 20:00:00  2171-11-03 20:52:00
2      2171-11-03 23:00:00  2171-11-03 23:25:00
3      2171-11-04 02:00:00  2171-11-04 02:08:00
4      2171-11-04 05:00:00  2171-11-04 06:26:00
...                    ...                  ...
34794  2148-01-16 10:00:00  2148-01-16 10:58:00
34795  2148-01-16 11:00:00  2148-01-16 10:58:00
34796  2148-01-16 12:00:00  2148-01-16 12:18:00
34797  2148-01-16 13:00:00  2148-01-16 13:07:00
34798  2148-01-16 14:00:00  2148-01-16 14:16:00

[34799 rows x 2 columns]

In [5]:
adata = adatas["INPUTEVENTS_CV"]

In [7]:
ep.pp.knn_impute(adata)

AnnData object with n_obs × n_vars = 34799 × 20
    obs: 'charttime', 'storetime'
    uns: 'numerical_columns', 'non_numerical_columns'
    layers: 'original'

In [ ]:
adata

In [7]:
adata_encoded = ep.pp.encode(adata, autodetect=True)

In [8]:
adata_encoded

AnnData object with n_obs × n_vars = 34799 × 20
    obs: 'charttime', 'storetime', 'amountuom', 'rateuom', 'stopped', 'originalamountuom', 'originalroute', 'originalrateuom', 'originalsite'
    uns: 'categoricals', 'original_values_categoricals', 'var_to_encoding'
    layers: 'original'

In [9]:
# ep.io.write("test.h5ad", adata)